<!--?xml version="1.0" ?-->
<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  version="1.1"
  id="design"
  viewBox="0 0 100 100"
  style="enable-background:new 0 0 100 100;"
  xml:space="preserve"
  ><style type="text/css">
    .st0 {
      fill: #eaeaea;
    }
    .st1 {
      fill: #ed8b00;
    }
    .st2 {
      fill: #fbb03b;
    }
    .st3 {
      fill: #0f89db;
    }
    .st4 {
      fill: #8bc5f2;
    }
    .st5 {
      fill: #a4d2fc;
    }
    .st6 {
      fill: #005eb8;
    }
    .st7 {
      fill: #ffffff;
    }
  </style><g
    ><title></title><g
      ><polygon
        class="st0"
        points="18.5,29 15,29 15,15 29.3,15 29.3,18.5 18.5,18.5   "
      ></polygon></g
    ><g
      ><polygon
        class="st0"
        points="85,29 81.5,29 81.5,18.5 70.7,18.5 70.7,15 85,15   "
      ></polygon></g
    ><g
      ><polygon
        class="st0"
        points="29.3,85 15,85 15,71 18.5,71 18.5,81.5 29.3,81.5   "
      ></polygon></g
    ><g
      ><polygon
        class="st0"
        points="85,85 70.7,85 70.7,81.5 81.5,81.5 81.5,71 85,71   "
      ></polygon></g
    ><g
      ><path class="st1" d="M70,73.8L80.6,66L70,58.2v4.3H49.3v7.1H70V73.8z"
      ></path></g
    ><g
      ><path
        class="st2"
        d="M36.9,50c0-6.9,5.6-12.4,12.4-12.4l3.6-3.9l-3.6-3.2c-10.8,0-19.6,8.8-19.6,19.6s8.8,19.6,19.6,19.6l3.6-3.2    l-3.6-4C42.5,62.4,36.9,56.9,36.9,50z"
      ></path></g
    ><g
      ><path
        class="st1"
        d="M49.3,69.6l3.6-3.2l-3.6-4c-6.9,0-12.4-5.6-12.4-12.4h-7.1C29.8,60.8,38.5,69.6,49.3,69.6L49.3,69.6z"
      ></path></g
    ><g
      ><path
        class="st3"
        d="M51.1,30.5v-4.4L40.4,34l10.7,7.8v-4.1c6.8,1,11.5,7.2,10.6,14c-0.9,6.1-6.1,10.7-12.3,10.7L45.8,66l3.6,3.6    c10.8,0,19.5-8.8,19.5-19.6C68.9,39.9,61.2,31.5,51.1,30.5L51.1,30.5z"
      ></path></g
    ><g
      ><path
        class="st4"
        d="M49.3,62.4L45.8,66l3.6,3.6c10.8,0,19.5-8.8,19.5-19.6h-7.1C61.8,56.9,56.2,62.4,49.3,62.4z"
      ></path></g
    ><g><path class="st5" d="M22.9,62.4h26.5v7.1H22.9V62.4z"></path></g><g
      ><circle class="st6" cx="49.4" cy="49.9" r="6.7"></circle></g
    ><g
      ><polygon
        class="st7"
        points="52.3,46.6 48.5,50.4 46.6,48.5 45.2,49.9 47.1,51.8 48.5,53.1 49.8,51.8 53.7,47.9   "
      ></polygon></g
    ></g
  ></svg
>
