---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import Presentation from "../components/Presentation.astro";
import Pills from "../components/Pills.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Eric Diaz's Portfolio - Full-Stack Web Developer"
  description="If you are looking for a full-stack and highly dedicated web developer and programmer to build your next project  or just want to say hi , you've come to the right place."
>
  <main>
    <div class="flex justify-start items-center py-3 xl:w-[1120px] mx-auto gap-x-10">
      <Header />
    </div>
    <SectionContainer class="sm:pt-28 pt-10 pb-20">
      <SectionContainer>
        <Presentation />
        <Pills />
      </SectionContainer>

      <SectionContainer class="mt-20" id="experience">
        <h2 class="text-3xl font-bold text-center">Proffesional Experience</h2>
        <Experience />
      </SectionContainer>
    </SectionContainer>
    <SectionContainer>
      <Footer />
    </SectionContainer>
  </main>
</Layout>
