---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import Presentation from "../components/Presentation.astro";
import Pills from "../components/Pills.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout
  title="Eric Diaz's Portfolio - Full-Stack Web Developer"
  description="If you are looking for a full-stack and highly dedicated web developer and programmer to build your next project  or just want to say hi , you've come to the right place."
>
  <main>
    <SectionContainer class="py-40 pb-20">
      <SectionContainer>
        <Presentation />
      </SectionContainer>

      <SectionContainer>
        <Pills />
      </SectionContainer>

      <SectionContainer>
        <h2 class="text-3xl font-bold mt-8 text-center">Proffesional Experience</h2>
        <Experience />
      </SectionContainer>
    </SectionContainer>
  </main>
</Layout>
