<header class="flex items-center py-3 xl:w-[1120px] mx-auto gap-x-10">
  <nav
    class="flex flex-col md:flex-row gap-x-10 opacity-80 justify-start md:justify-center"
  >
    <input type="checkbox" id="menu-toggle" class="hidden" />

    <label
      for="menu-toggle"
      class="md:hidden absolute top-3 left-3 flex justify-center w-8 h-8 p-2 rounded"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </label>

    <div class="hidden sm:block flex gap-x-10">
      <a href="#start">Home</a>
      <a href="#experience">Experience</a>
      <a href="#projects">Projects</a>
      <a href="#about-me">About me</a>
      <a href="#contact">Contact</a>
    </div>

    <div
      id="mobile-menu"
      class="sm:hidden flex flex-col p-4 rounded-md absolute top-16 left-3"
    >
      <a href="#start" class="block">Home</a>
      <a href="#experience" class="block">Experience</a>
      <a href="#projects" class="block">Projects</a>
      <a href="#about-me" class="block">About me</a>
      <a href="#contact" class="block">Contact</a>
    </div>

    <style>
      #mobile-menu {
        display: none;
      }
      #menu-toggle:checked ~ #mobile-menu {
        display: block;
      }
    </style>
  </nav>
</header>
