<header class="flex items-center py-3 xl:w-[1120px] mx-auto gap-x-10">
  <nav
    class="flex flex-col md:flex-row gap-x-10 justify-start md:justify-center fixed top-0 left-0 right-0 z-50"
  >
    <input type="checkbox" id="menu-toggle" class="hidden" />

    <label
      for="menu-toggle"
      class="md:hidden absolute top-3 left-3 flex justify-center w-8 h-8 p-2 rounded"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </label>

    <div class="hidden md:block flex gap-x-10 md:flex md:justify-center p-4 bg-[#020021] text-white font-bold text-lg w-full">
      <a href="#start">Home</a>
      <a href="#experience">Experience</a>
      <a href="#projects">Projects</a>
      <a href="#technologies">Technologies</a>
      <a href="#about-me">About me</a>
      <a href="#contact">Contact</a>
    </div>

    <div
      id="mobile-menu"
      class="sm:hidden flex flex-col p-0 m-0 absolute top-16 left-0 right-0 w-full bg-lightblue z-50 text-black font-bold"
    >
      <a href="#start" class="block p-4 text-center border-b ">Home</a>
      <a href="#experience" class="block p-4 text-center border-b">Experience</a>
      <a href="#projects" class="block p-4 text-center border-b">Projects</a>
      <a href="#technologies" class="block p-4 text-center border-b">Technologies</a>
      <a href="#about-me" class="block p-4 text-center border-b">About me</a>
      <a href="#contact" class="block p-4 text-center border-b">Contact</a>
    </div>

    <style>
      #mobile-menu {
        display: none;
      }
      #menu-toggle:checked ~ #mobile-menu {
        display: block;
      }
      @media (max-width: 767px) {
        .hidden-sm-block {
          display: none;
        }
      }
    </style>
  </nav>
</header>
