---
import SocialButton from "./SocialButton.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import MailIcon from "../icons/Mail.astro";
---

<nav class="flex flex-row gap-x-3">
    <SocialButton href="http://www.linkedin.com/in/eric-diaz-euka/">
      <LinkedInIcon class="size-6" />
      LinkedIn
    </SocialButton>
    <SocialButton href="https://github.com/Euka-e">
      <GitHubIcon class="size-6" />
      GitHub
    </SocialButton>
    <SocialButton href="">
      <MailIcon class="size-6" />
      ericdiazeuka@gmail.com
    </SocialButton>
  </nav>